@import url('https://fonts.googleapis.com/css2?family=Yaldevi&display=swap');

body {
  margin: 0;
  font-family: 'Yaldevi', sans-serif;
}

.footer-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

h1 {
  color: antiquewhite;
}

a {
  text-decoration: none;
  color: #e86969;
  transition: color 0.3s;
}

a:hover {
  color: #5ba14a;
}

a:after {
  text-decoration: none;
}
