body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.pokemons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 32%;
  height: 30vh;
  margin: 5px;
  border-radius: 20px;
}

.name {
  margin-left: 20px;
}

.info {
  display: flex;
  justify-content: space-around;
}

.pok-img {
  display: flex;
  justify-content: center;
  width: 40%;
  margin: 0;
}

.pokemon-image {
  margin: 0;
  width: 150px;
}

.Electric {
  background-color: #f2cb55;
}

.Fire {
  background-color: #f1a34d;
}

.Bug {
  background-color: #8bd674;
}

.Poison {
  background-color: #a65dcc;
}

.Psychic {
  background-color: #cc5dc6;
}

.Normal {
  background-color: #a8a878;
}

.Dragon {
  background-color: #7038f8;
}
